input {
    width:500px;
    height:30px;
    background-color: white;
    border:none;
    padding-left: 15px;
    margin-top: 15px;
}

select {

width:500px;
height:30px;
background-color: white;
border: none;
margin-top: 15px;
padding-left: 15px;

}

#btn{
    margin-left: 1px;
    margin-top:1px;
    width: 150px;
    height:40px;
    background-color: aquamarine;
    border-radius: 30%;
    cursor: pointer;
  }