.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:5rem;
  position: absolute;
}

table{
  
  border-collapse: collapse;
  width: 50%;
  padding:5rem;
  position: absolute;
  right: -500px;
}


td {
  border:1px solid black;
  text-align: left;
  padding:8px;
  font-size:12px
}

th{
  border:1px solid black;
  text-align: left;
  padding:8px;
  font-size:20px;
  background-color: blue;
}

td{
  background-color: aqua;
}

form{
  display: flex;
  gap: 5px;
}

form td:last-child{
  display: flex;
  justify-content: space-evenly;
}

form *{
  font-size: 25px;
}


